@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,600,700,800,900|Raleway:100,700,700italic);
body {
    font-family: 'Open Sans', sans-serif;
    background: #272727;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 500px;
    margin-top: 2rem;
    border-radius: 5px;
}

.navbar-fixed {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    nav {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        .nav-wrapper {
            background-color: #1ed760 !important;
            background: -webkit-linear-gradient(top, #1ed760, #67df92);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            i {
                text-shadow: -1px 1px rgba(90, 115, 140, 0.61);
            }
            .brand-logo {
                font-family: 'Open Sans';
                font-weight: 700;
            }
        }
    }
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
    width: 19px !important;
    border: none !important;
    margin-bottom: 0 !important;
    pointer-events: none;
}

.homeRow {
    .collection {
        margin-top: 0;
        margin-bottom: 0;
        border: none;
        .collection-item {
            background: transparent;
        }
        .collection-item p {
            float: right;
            font-size: 10px;
            font-weight: 500;
            text-align: right;
        }
        .avatar {
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
            color: #000;
            .center {
                text-align: left !important;
                color: #000;
            }
            .switch {
                margin-top: 1rem;
            }
        }
    }
    .input-field {
        .prefix ~ input {
            margin-top: .5rem;
        }
    }
    .billAmnt {
        padding: 2rem 2rem 0;
        .card {
            margin: 0;
            border-radius: 0;
        }
        #share-amount {
                margin-top: 1.5rem;
            display: none;
        }
        .input-field {
            margin: 0;
            border-bottom: none;
            .prefix {
                padding-top: 7px;
            }
        }
        input[type=number] {
            border-bottom: none;
            color: #1f1f1f;
            font-size: 3.3rem;
            font-weight: 700;
        }
        input[type=number]:focus:not([readonly]) {
            border-bottom: none;
            box-shadow: none;
        }
        #total {
            border-bottom: none;
            font-size: 2.5rem;
            font-family: 'Open Sans';
            font-weight: 600;
            color: #565f59;
        }
        #myForm {
            margin: 0 auto;
            height: 137px;
            padding-top: 1rem;
            text-align: center;
            padding-top: 2rem;
            padding-right: 2rem;
            display: none;
            input.qtyplus {
                border-radius: 100em;
                border: 1px solid #ddd;
                background-color: #fff;
                margin: 0 auto;
                display: list-item;
                width: 45px;
                height: 45px;
                box-shadow: -1px 1px rgba(0, 0, 0, .1);
                color: #1ed760;
            }
            input.qtyminus {
                border-radius: 100em;
                border: 1px solid #ddd;
                background-color: #fff;
                margin: 0 auto;
                display: list-item;
                width: 45px;
                height: 45px;
                box-shadow: -1px 1px rgba(0, 0, 0, .1);
                color: #e53935;
            }
            input.qtyplus:focus {
                outline: none;
            }
            input.qtyminus:focus {
                outline: none;
            }
        }
        .switch label input[type=checkbox]:checked+.lever,
        .switch label input[type=checkbox]:checked+.lever:after {
            background-color: #34d96f;
        }
    }
    .tipAmnt {
        padding: 0 2.9rem;
        .collection .collection-item.avatar .title {
            text-align: center;
            margin-bottom: 1em;
        }
        .circleTip {
            height: 60px;
            width: 60px;
            border-radius: 100px;
            background-color: #fff;
            border: 1px solid #ddd;
            display: inline-block;
            padding: 1px;
            text-align: center;
            color: #565f59;
            margin: 0 auto;
            line-height: 4;
            font-weight: 700;
            box-shadow: -1px 1px rgba(0, 0, 0, 0.1);
        }
        .number_button {
            width: 70px;
            float: left;
            background-color: #fff;
            border: 1px solid #ddd;
            font-size: 44px;
            text-align: center;
            font-family: 'Raleway';
        }
        .number_button:hover {
            background-color: #9dcf79;
            color: #fff;
        }
        .qty {
            margin: 0 auto !important;
            display: list-item;
        }
    }
    .totalAmnt {
        padding: 2rem;
        input {
            border: none;
        }
    }
}

.keyPad {
    padding: 0 !important;
}

.input-field .prefix.active {
    color: #000;
}

.tipEngage {
    background-color: #1ed760 !important;
    color: #fff !important;
}

#total {
    pointer-events: none;
}

#tipTots {
    pointer-events: none;
    font-size: 3.5rem;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #565f59;
}

#finalTotal {
    pointer-events: none;
    font-size: 3.5rem;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #1ed760;
}